#images{
    display: none;
}

#imgHolder{
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    display: inline-block;
}

#imgHolder img{
    object-fit: cover;
    height: auto;
    width: 30%;
}



#imageCanvas {
    display: block;
}

#liveInput {
    position: absolute;
    display: none;       /* hidden until editing */
    border: none;
    outline: none;
    background: transparent;
    font-size: 40px;
    text-align: center;
    width: 100%;
    left: 0;
}

